<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles.css" />
        <title>ClubFeed: Clubs</title>
    </head>
    <body>
        <h1 class="title">Clubs</h1>
        <h2 class="welcome-back-text">
            Welcome back <%= user.first_name + " " + user.last_name %>
        </h2>
        <a class="log-out-link" href="/log-out">Log Out</a>
        <button class="create-club-btn" onclick="openCreateClubModal()">
            Create Club
        </button>
        <div class="create-club-modal" style="display: none">
            <form action="/clubs/create" method="post">
                <input
                    type="text"
                    name="clubName"
                    id="clubName"
                    placeholder="Club name"
                    required
                />
                <input
                    type="password"
                    name="clubPassword"
                    id="clubPassword"
                    placeholder="Club password"
                    required
                />

                <button class="cc-btn-create" type="submit">Create club</button>
            </form>
        </div>
        <div class="clubs-container">
            <% if (clubs) { %> <% clubs.forEach(club => { %>
            <div class="club">
                <h3 class="club-name"><%= club.name %></h3>
                <p class="club-creator">
                    Created by: <%= club.creator.first_name %> <%=
                    club.creator.last_name %> (@<%= club.creator.username %>)
                </p>
                <div class="club-btn-container">
                    <a class="club-btn" href="/clubs/<%= club.club_id %>"
                        >View message wall</a
                    >
                    <button
                        class="club-btn"
                        onclick="openJoinClubModal('join-<%= club.club_id %>')"
                        type="button"
                    >
                        Join
                    </button>
                </div>
            </div>
            <div
                class="join-club-modal"
                id="join-<%= club.club_id %>"
                style="display: none"
            >
                <form
                    class="join-club-form"
                    action="/clubs/join/<%= club.club_id %>"
                    method="post"
                >
                    <h2>Join <%= club.name %></h2>
                    <input
                        type="password"
                        name="clubPasswordJoin"
                        placeholder="Club password"
                    />
                    <button class="join-club-submit-btn" type="submit">
                        Join
                    </button>
                </form>
            </div>
            <% }) %> <% } %>
        </div>
        <div class="modal-overlay" style="display: none"></div>
        <% if (error) { %>
        <div class="error"><%= error %></div>
        <% } %>
    </body>
    <script defer>
        const overlay = document.querySelector(".modal-overlay");

        function openCreateClubModal() {
            overlay.style.display = "block";
            document.querySelector(".create-club-modal").style.display = "flex";
        }

        function openJoinClubModal(id) {
            // Close all
            document
                .querySelectorAll(".join-club-modal")
                .forEach((modal) => (modal.style.display = "none"));

            // Show selected modal + overlay
            document.getElementById(id).style.display = "flex";
            overlay.style.display = "block";
        }

        function closeModals() {
            document
                .querySelectorAll(".join-club-modal")
                .forEach((modal) => (modal.style.display = "none"));
            document.querySelector(".create-club-modal").style.display = "none";
            overlay.style.display = "none";
        }

        // Clicking overlay closes all modals
        overlay.addEventListener("click", closeModals);
    </script>
</html>
